/* reset */
*{margin: 0;padding: 0;list-style: none;font-weight: normal;font-size: 16px;text-decoration: none;}
html, body{min-width: 100%;height: 100%;}

/* base */
.hidden{display: inline-block;width: 0;height: 0;font-size: 0;z-index: -999;}
span{text-align: center;display: inline-block;}
.animated{transition: 0.5s ease;}

/* styles */
/* 상단 */
#header{
  width: 100%;
  height: 68px;
  background-color: #33743b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
  position: fixed;
  top: 0;
  /* 지도api의 네이버 로고가 z-index값이 높아서 가려주기 위함 */
  z-index: 999;
}
#header .home>i{
  font-size: 32px;
  color: #fff;
  margin-right: 1rem;
}
#header .home>i:hover{
  color: #172e12;
  cursor: pointer;
}
#header .menu_bar{
  font-size: 36px;
  color: #fff;
  margin-left: 1rem;
}
#header .menu_bar.load_on:hover{
  color: #172e12;
  cursor: pointer;
}
#header .menu_list.active{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 280px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  border-radius: 0 0 10px 0;
}
#header .menu_list{
  position: absolute;
  left: -280px;
  top: 0;
  z-index: 1;
  width: 280px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
#header .menu_list>ul{
  padding: 1rem;
  margin-bottom: 1rem;
}
#header .menu_list>ul>li{
  height: 60px;
  text-align: end;
  line-height: 60px;
  padding-right: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #e4e8e4;
  margin-top: 1rem;
}
#header .menu_list>ul>li>a{
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  color: #172e12;
}
#header .menu_list>ul>li>a:hover{
  /* color: #709c53; */
  font-weight: 700;
  transition: 0.5s ease;
}
#header .menu_list .menu_icon{
  background-color: #172e12;
  text-align: end;
}
#header .menu_list .menu_icon i{
  padding: 1rem;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}
#header .menu_list .menu_icon i:hover{
  color: #33743b;
}
#header .search{
  text-align: center;
  background-color: #f4f6e9;
  border-radius: 0 0 10px 0;
  padding: 14px;
}
#header .search .addr_city{
  display: inline-block;
  width: 248px;
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  color: gray;
}
#header .search .input_search{
  padding: 0.7rem 1rem;
  border-radius: 10px;
  border: 1px solid #33743b;
  width: 140px;
}
#header .search .search_btn{
  width: 60px;
  border: 0;
  padding: 0.7rem;
  border-radius: 30px;
  background-color: #33743b;
  color: #fff;
  margin-left: 0.5rem;
}
#header .search .search_btn:hover{
  background-color: #172e12;
  cursor: pointer;
}

#header .search h3{
  padding-bottom: 0.4rem;
  margin-bottom: 0.7rem;
  margin-left: 0.5rem;
  font-weight: 300;
  color: #485745;
  border-bottom: 1px solid #9bad97;
  font-size: 20px;
  text-align: left;
  width: 150px;
}
#header .web_name{
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
}

/* 모달 */
.modal_background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
  /* visibility hidden 때문에 보이지는 않지만, 여전히 존재하는 상태이기 때문에 transition이 이상하게 움직이므로 자리배치는 그대로 */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* display는 transition에 적용이 안되므로, 투명도를 이용 */
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}
.modal_background.active{
  opacity: 1;
  visibility: visible;
  z-index: 999;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal{
  width: 450px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  border: 4px solid #172e12;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);

  /* transform: translateY(-50px); */
  transition: transform 1s ease, opacity 1s ease;
}
.modal p{
  text-align: start;
  width: 100%;
}
.modal_top{
  position: absolute;
  top: -50px;
  width:calc(100% + 8px);
  height: 50px;
  background-color: #172e12;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal_top h3{
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 600;
}
.modal>p{
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #172e12;
  line-height: 24px;
}
.modal>p:nth-child(2){
  font-size: 20px;
}
.modal>p:last-child{
  font-size: 18px;
}
.modal>p:last-child>strong{
  font-size: 18px;
}
.modal>p:nth-child(2)>strong{
  color: #fff;
  background-color: #33743b;
  padding: 0.2rem 0.5rem;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
}
.modal>p>strong.strong{
  font-weight: 500;
  background-color: #ebf2c2;
}
.modal button{
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: rgb(248, 79, 41);
  border: none;
  color: #fff;
  margin-top: 1rem;
  margin: 0;
  margin-right: 0.5rem;
}
.modal button:hover{
  background-color: #6b1e11;
  cursor: pointer;
}



/* 중단 */
main#container{
  display: none;
}
main#container.on{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  height: 1210px;
}
#container .tap{
  display: none;
  /* width: 492px; */
}
#container .tap h2{
  padding: 0.7rem 0.5rem;
  font-size: 24px;
  width: 100px;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
#container .tap h2:hover{
  background-color: #dbefc8;
}
#container .tap h2.on{
  font-weight: 700;
  border-bottom: 4px solid black;
}
#container .tap.active{
  display: flex;
}
#container .container_box{
  display: none;
}
#container .container_box.on{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
}
/* 중단 - 미세먼지 */
section.dust{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 45%;
  min-width: 492px;
}
#container .total_condition{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

#container .total_condition .current_location {
  font-size: 40px;
  font-weight: bold;
}
#container .total_condition .cuttent_time {
  margin: 1rem;
  font-size: 24px;
}
#container .total_condition .total_emoji {
  margin-bottom: 1rem;
}
#container .total_condition .total_emoji>i {
  font-size: 100px;
}
#container .total_condition .total_status {
  font-size: 28px;
}
#container .total_condition .percent {
  font-size: 20px;
  position: relative;
  text-align: center;
  margin-top: 1rem;
}
#container .total_condition .percent .khai {
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 144, 100);
  /* color: rgb(39, 38, 38); */
}
#container .total_condition .percent i {
  margin-right: 0.1rem;
  margin-top: 0.3rem;
  font-size: 20px;
}
#container .total_condition .query_box {
  display: none;
}
#container .total_condition .query_box.on {
  position: absolute;
  top: 40px;
  left: 148px;
  padding: 0.5rem;
  display: inline-block;
  white-space: nowrap;
  color: #ff8a6a;
  border: 1px solid orange;
  border-radius: 10px;
  background-color: #ffe5a4b0;
  text-align: left;
}
#container .total_condition .query_box>dt {
  font-weight: 900;
  color: #ff7b5a;
  margin-bottom: 0.2rem;
}
#container .total_condition .query_box>dd:nth-child(3) {
  font-size: 12px;
  text-align: end;
  margin-top: 0.2rem;
  color: #854c3e;
}

/* 미세먼지 종류 넘기기 버튼 */
#container .dust_condition_btn{
  position: relative;
  width: 100%;
}
#container .dust_condition_btn>button{
  width: 36px;
  height: 36px;
  border: 1px solid silver;
  background-color: #fff;
  color: silver;
}
#container .dust_condition_btn>button.prev_btn{
  position: absolute;
  top: -100px;
  left: 0.6rem;
}
#container .dust_condition_btn>button.next_btn{
  position: absolute;
  top: -100px;
  right: 0.6rem;
}
#container .dust_condition_btn>button.active{
  color: rgb(35, 35, 35);
  border: 1px solid rgb(35, 35, 35);
}
#container .dust_condition_btn>button.active:hover{
  cursor: pointer;
  color: #fff;
  background-color: rgb(35, 35, 35);
}

/* 미세먼지 종류 */
#container .dust_condition>ul{
  display: flex;
  width: 400px;
  overflow: hidden;
  height: 172px;
  position: relative;
}
#container .dust_condition>ul::-webkit-scrollbar{
  height: 4px;
}
#container .dust_condition>ul::-webkit-scrollbar-thumb{
  background-color: #848484;
}
#container .dust_condition>ul::-webkit-scrollbar-track{
  background-color: #d5d5d5;
}

#container .dust_condition>ul>li{
  display: flex;
  position: absolute;
}
#container .dust_condition>ul>li:first-child{
  left: 0;
}
#container .dust_condition>ul>li:nth-child(2){
  left: 400px;
}
#container .dust_condition>ul>li.on{
}
#container .dust_condition dl{
  width: 92px;
  margin: 1rem 0.5rem;
  padding: 0.8rem;
  border-radius: 20px;
  color: #fff;
}
#container .dust_condition dl.null_data{
  background-color: gray;
}
#container .dust_condition dt{text-align: center; white-space: nowrap;}
#container .dust_condition dd{text-align: center;}
#container .dust_condition dd>i{font-size: 32px;margin: 0.5rem 0;}
#container .naver_map{
  margin: 3rem;
  border-radius: 100%;
  overflow: hidden;
}
#container .naver_map .loaction_icon{
  font-size: 40px;
  color: rgb(255, 111, 0);
}
#container .naver_map .undefined_location{
  background-color: #fff;
  padding: 1rem;
  border: 1px solid silver;
  border-radius: 32px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

/* naver.style.이 먹히지 않으므로 강제 style */
#map>div>div{cursor: default;}
#map>div>div>div>div>div>div>div{
  background-color: rgba(255, 255, 255, 0) !important;
  border: 0 !important;
}
#map>div>div>div>div>div>div>div>div{
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: rgba(255, 255, 255, 0) !important;
  border-style: none !important;
}
#map.naver_map{width:400px;height:400px;}

/* 중단 - 날씨 */
section.weather{
  display: none;
  position: relative;
}
.wait_weather{
  position: absolute;
  top: 50%;
}
section.weather.active{
  width: 45%;
  min-width: 492px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(#ffffff00 0.1%, #086375, #5c3063);
  height: 1110px;
}
#container .weather_box{
  height: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#container .weather .time_now{
  text-shadow: 1px 2px 5px #08637583;

  text-align: center;
  font-size: 700%;
  /* font-weight: 100; */
  color: #fff;

  /* google font */
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  /* 글자색 적용 */
  /* background: linear-gradient(#086375, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */

  /* 아웃라인 */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #87a5ab; */
}
#container .weather .time_now>h2{
  font-size: 0;
}
#container .weather .time_now>span.sec{
  font-size: 40px;
  font-weight: 100;
}
#container .weather_status{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#container .weather_status i{
  font-size: 140px;
}
#container .weather_status p{
  text-align: center;
  margin: 1rem;
  font-size: 36px;
  font-weight: 100;
}
#container ul.today_weather_list{
  width: 80%;
  display: flex;
  border-top: 1px dashed #ffffff48;
  
  overflow-x: auto;
  padding: 1rem;
}
#container ul.today_weather_list::-webkit-scrollbar{
  height: 4px;
}
#container ul.today_weather_list::-webkit-scrollbar-thumb{
  background-color: #d5d5d57d;
}
#container ul.today_weather_list::-webkit-scrollbar-track{
  background-color: #0000002a;
}
#container ul.today_weather_list>li{
  margin: 1rem;
  text-align: center;
}
#container ul.today_weather_list>li>p{
  font-size: 20px;
}
#container ul.today_weather_list>li>span{
  width: 80px;
}
#container ul.today_weather_list>li>i{
  font-size: 36px;
  margin: 0.3rem 0 0.7rem 0;
}

#container .reh_tmp{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* border-top: 1px dashed #ffffff48; */
  width: 80%;
  padding-top: 2rem;
}
#container .reh_tmp .reh .icon_value{
  display: flex;
  align-items: center;
}
#container .reh_tmp .tmp .icon_value{
  display: flex;
  align-items: center;
}
#container .reh_tmp .tmp{
  margin-top: 1rem;
}
#container .reh_tmp h4{
  font-size: 24px;
  font-weight: 700;
}
#container .weather .weather_box .weather_value{
  font-size: 88px;
  font-weight: 100;
}
#container .weather .weather_box p>i.fa-solid{
  font-size: 32px;
  margin-right: 0.8rem;
}

#container .weather .max_min_temp{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ffffff50; */
}
#container .weather .max_min_temp i{
  margin-right: 0.3rem;
  font-size: 16px;
}
#container .tmn, #container .tmx{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
#container .tmx_value, #container .tmn_value{
  font-size: 36px;
  font-weight: 100;
}

/* 중단 - 추천 관광지 */
aside.container{
  display: none;
}
aside.container.on{
  display: flex;
  flex-direction: column;
  height: 1000px;
}
aside.container .reco_tour{
  display: none;
}
aside.container .reco_tour.on{
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
aside.container .reco_tour>h2{
  font-size: 40px;
}
aside.container .reco_tour .tour_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 492px;
  padding: 1rem;
  margin-top: 1rem;
}
aside.container .tour_list>.card{
  background-color: pink;

  overflow: hidden;
  margin: 1rem;
  height: 348px;
  width: 440px;
  border-radius: 10px;
  
}
aside.container .tour_list>.card .tour_img{
  background-color: rgb(255, 219, 225);
  width: 440px;
  height: 200px;
}
aside.container .tour_list>.card>dl{
  width: 100%;
  height: 145.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
aside.container .tour_list>.card dt{
  padding: 1rem 1rem 0.5rem 1rem;
  height: 39px;
}
aside.container .tour_list>.card h4{
  font-size: 20px;
  font-weight: 700;
}
aside.container .tour_list>.card dd{
  padding: 0.5rem 1rem 1rem 1rem;
  height: 58.5px;
}
aside.container .reco_tour .btn_box{
  display: flex;
  width: 440px;
  justify-content: end;
}
aside.container .reco_tour button{
  margin-left: 0.5rem;
}
aside.container .no_reco_data{
  color: gray;
  }




/* 하단 */
#footer{display: none; background-color: #33743b;height: 32px;position: relative;width: 100%;bottom: 0;}
#footer.on{display: block; background-color: #33743b;height: 32px;position: relative;width: 100%;bottom: 0;}


/* 편의성 및 접근성 style */
.fa-circle-question{margin-left: 0.3rem;color: orange;cursor: pointer;font-size: 24px;}
.fa-circle-question:hover{color: rgb(255, 98, 0);}
.warn_msg{color: red;margin-top: 0.5rem;}
.ventilation{color: gray;font-size: 16px;margin-bottom: 1rem;}
.wait{display: none;}
.wait.active{display: flex;flex-direction: column;align-items: center;position: fixed; top: 50%;}
.wait>span{font-size: 28px;font-weight: 700;color: rgb(30, 29, 29);font-style: italic;}
.wait>i{margin-left: 0.2rem;color: silver;font-size: 32px;margin-bottom: 1rem;}
.wait_data{border-radius: 0 0 10px 0; width: 100%; height: 100%; z-index: 1;background-color: rgba(0, 0, 0, 0.3);position: absolute;display: flex;justify-content: center;align-items: center;}
.wait_data>i{padding: 1rem;font-size: 36px;color: #fff;animation: rotate_icon 3s linear infinite;transform-origin: 50% 50%;}
.wait_data.disappear{display: none;}
.plz_reload{display: none; color: red; margin-top: 2rem; width: 100%;height: 100%; z-index: 1; justify-content: center; align-items: center;}
.plz_reload.active{display: flex;}
#refresh-indicator{display: none; z-index: 1000; position: absolute;top:3rem; left: 50%; transform: translateX(-50%);font-size: 32px;}
#refresh-indicator i{animation: rotate_icon 3s linear infinite;transform-origin: 50% 50%; font-size: 32px;color: silver; text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.451);}
/* rotate_image 라는 이름을 가진 키프레임을 실행
  6s : 6초에 한번씩 (animation-duration)
  linear : 동일한 속도로 (animation-timing-function)*/
.wait i{animation: rotate_icon 3s linear infinite;transform-origin: 50% 50%;}
@keyframes rotate_icon{
  100% {
    transform: rotate(360deg);
  }
}

/* 반응형 */
@media(max-width: 998px){
  #container{margin-bottom: 0;}

  /* 날씨와 미세먼지를 탭으로 보여줄 것 */
  #container section.weather.on{
    display: flex;
    /* padding-top: 3rem; */
    justify-content: center;
    align-items: center;
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
  #container .weather_box{
    height: 1000px;
    width: 100%;
    max-width: 492px;
    flex-direction: column;
  }
  #container section.weather{
    display: none;
  }
  section.dust.on{
    display: flex;
  }
  section.dust{
    display: none;
  }
}

@media(min-width: 999px){
  #container .tap.active{
    display: none;
  }
}
@media(min-width:976px){
  aside.container.on{
    height: 600px;
  }
  aside.container .reco_tour .btn_box{
    width: 908px;
  }
}

@media(max-width: 500px){
  html, body{width: fit-content;}
  header#header{min-width: auto;}
  #map.naver_map{width: 360px;
    height: 360px;
    margin: 2rem 0 auto;}
  #container section{min-width: 320px;}
  aside.container .tour_list>.card{min-width: 300px;}
  #container section .dust_condition dl{margin: 0.2rem; width: 68px; height: 72px;display: flex;flex-direction: column;justify-content: center;align-items: center;}
  #container .dust_condition dt{font-size: 14px;}
  #container section .dust_condition i{font-size: 24px;margin: 4px;}
  #container section .dust_condition ul{width: 299px;}
  #container .dust_condition>ul>li{left: 0;}
  #container .dust_condition dd{font-size: 15px;}
  #container .dust_condition_btn>button{width: 28px;height: 28px;}
  #container .dust_condition_btn>button.prev_btn{top: -130px;left: -1.2rem;}
  #container .dust_condition_btn>button.next_btn{top: -130px;right: -1.2rem;}
  #container .weather .time_now {font-size: 480%;}
  #container ul.today_weather_list{width: 100%;}
  /* aside.container .reco_tour.on{margin-top: 8rem;}
  main#container.on{margin-top: 8rem;} */
  

  
  #container .weather_status i {font-size: 100px;}
  .pty_icon, .sky_icon{text-align: center;width: 175px;}
  #container .weather_box{max-width: 320px;}
  #container .weather_status{justify-content: center;}

  .modal>p{line-height: 30px;}
  /* .modal_top {top: 0;} */
  .modal{width: 80%; top: 30px;}
  aside.container .tour_list>.card{width: 320px;}
  aside.container .reco_tour .btn_box{width: 300px;}
  aside.container .reco_tour .tour_list{min-width: 320px;}
  aside.container.on{height: 1000px;}
}